* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom right,
    #000000,
    #226f54,
    #f4978e,
    #ae430a
  );
}

.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Yeseva one;
  font-size: 35px;
  color: antiquewhite;
  padding: 20px;
  padding-bottom: 50px;
}

.about-container {
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}

.p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: antiquewhite;
  padding: 20px;
  padding-bottom: 50px;
  text-align: justify;
}
.austin,
.bigluke,
.boulder1,
.boulder1,
.guitar,
.keys,
.salon,
.view {
  max-width: 100%;
  margin: 0 auto;
}
