* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to bottom right,
    #000000,
    #226f54,
    #f4978e,
    #ae430a
  );
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
  background-size: 100% 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Yeseva one;
  font-size: 35px;
  color: antiquewhite;
  padding: 20px;
  padding-bottom: 50px;
}
.container {
  flex: 1;
  display: flex;
  padding-right: 150px;
  padding-left: 100px;
}

.contact-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  height: 600px;
  padding: 100px;
}

.socials {
  font-family: Yeseva one;
  color: antiquewhite;
  text-decoration: underline;
}
.contact-links {
  color: antiquewhite;
  text-decoration: none;
  transition: color 0.5s ease;
}

.contact-links:hover {
  color: #ae430a;
}

.container-frame {
  border: 60px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  outline: 1px solid antiquewhite;
}

.power-stance {
  height: 500px;
}
