* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to bottom right,
    #000000,
    #226f54,
    #f4978e,
    #ae430a
  );
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
  background-size: 100% 100%;
  margin: 0;
}
body {
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Yeseva one;
  font-size: 35px;
  color: antiquewhite;
  padding: 20px;
  padding-bottom: 50px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 100px;
}

.contact-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  padding: 20px;
  color: antiquewhite;
}

.socials {
  font-family: Yeseva one;
  color: antiquewhite;
  text-decoration: underline;
  margin-bottom: 20px;
}
.contact-links {
  color: antiquewhite;
  text-decoration: none;
  transition: color 0.5s ease;
  margin-bottom: 30px;
}

.contact-links:hover {
  color: #ae430a;
}

.container-frame img {
  height: 600px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
  header,
  nav,
  main,
  footer {
    padding: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .column {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px;
  }
}
