* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to bottom right,
    #000000,
    #226f54,
    #f4978e,
    #ae430a
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.headshot {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.frame-container {
  border: 60px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  outline: 1px solid antiquewhite;
}
.photo {
  max-height: 100%;
  max-width: 100%;
  width: 400px;
  height: auto;
}

.title-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.title {
  font-family: "Yeseva One", cursive;
  font-size: 50px;
  color: antiquewhite;
}

.name-link {
  color: antiquewhite;
  text-decoration: none;
  transition: color 0.5s ease;
}
.name-link:hover {
  color: #226f54;
}
.description {
  font-family: "Josefin Sans", sans-serif;
  color: antiquewhite;
  padding: 20px;
  font-size: 27px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.social-icon {
  margin: 0 20px;
  color: #226f54;
}

.social-icon:hover {
  transform: scale(1.2);
}
