* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding-top: 15px;
}

.links {
  font-family: "Josefin Sans", sans-serif;
  color: antiquewhite;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  padding-left: 900px;
  align-self: center;
  margin: 20px;
}

.links a {
  color: antiquewhite;
  text-decoration: none;
  transition: color 0.5s ease;
}
.links a:hover {
  color: #f4978e;
  transform: scale(1.2);
}
.links a:visited {
  color: antiquewhite;
  text-decoration: none;
  transition: color 0.3s ease;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  header {
    padding: 10px; /* Add padding to the header for spacing */
  }

  nav {
    display: block; /* Change navigation to a block for better stacking */
    text-align: center; /* Center-align navigation links */
    padding: 10px; /* Add padding for better spacing */
  }

  main {
    padding: 10px; /* Add padding to the main content for spacing */
  }

  footer {
    padding: 10px; /* Add padding to the footer for spacing */
  }

  img {
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    height: auto; /* Maintain aspect ratio */
  }

  /* Example: Stack columns for better readability on smaller screens */
  .column {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px; /* Add some spacing between stacked columns */
  }
}
