* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to bottom right,
    #000000,
    #226f54,
    #f4978e,
    #ae430a
  );
}
nav {
  padding-top: 15px;
}

.links {
  font-family: "Josefin Sans", sans-serif;
  color: antiquewhite;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  padding-left: 900px;
  align-self: center;
  margin: 20px;
}

.links a {
  color: antiquewhite;
  text-decoration: none;
  transition: color 0.5s ease;
}
.links a:hover {
  color: #f4978e;
  transform: scale(1.2);
}
.links a:visited {
  color: antiquewhite;
  text-decoration: none;
  transition: color 0.3s ease;
}
